@import url(/styles/cabecalho.css);
@import url(/styles/section-principal.css);
@import url(/styles/sobre-nos.css);
@import url(/styles/login.css);
@import url(/styles/registro.css);
@import url(/styles/password-reset.css);
@import url(/styles/agendamento.css);


:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #eeeeee;
    --cinza-azulado: #2676b8;
    --principal: #28A7F4;
    --secundario: #2BE2EB;
    --font-principal: "Inter";
    

}

body {
    color: var(--preto);
    background-color: var(--branco);
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font-principal);
}