.container__agendamento {
    background-color: var(--cinza);
   
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__agendamento .agendamento .agendamento__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__agendamento .agendamento .campo__grupo, .agendamento__form .texto__span {
    padding: 1em;
    margin: 0.5rem;


    border-radius: 15px;
}

.container__agendamento .agendamento .campo__grupo .area, .agendamento__form .desc__sintomas {
    padding: 1em;
    margin: 0.5rem;
    background-color: var(--cinza);
 
    border-radius: 15px;

}

.resposta .agendamento__form .desc__sintomas {
    padding: 1em;
}

.container__agendamento .agendamento .agendamento__form .botao__enviar {
   padding: 1em;
    margin: 0.5rem;
    background-color: var(--cinza);
    border: 1px solid var(--principal);
    border-radius: 15px;
}

.container__agendamento .resposta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--branco);
}

.container__agendamento .resposta .resposta__numero {
    font-weight: 600;
}

.container__agendamento .resposta .tela__resposta {
    background-color: var(--branco);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 3px 3px 14px 12px rgba(145, 193, 255, 0.5);
    margin: 1rem;
}

.container__agendamento .resposta .tela__resposta .protocolo__numero {
    color: var(--principal);
    font-weight: 900;
    font-size: 1.5em;
}


.container__agendamento {
   background-image: url(../img/bem_vindo.svg);
   background-repeat: no-repeat;
   background-size: cover;
  
   margin: 6rem;
}
.tela__resposta {
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.protocolo__numero {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--branco);
    border-radius: 1rem;
}

.calenadrio {
    padding: 1em;
    border-radius: 14px;
}

.titulofodase {
      font-weight: 900;
    font-size: 2.5em;
    color: var(--principal);
    margin: 0.7rem;
}

.campo__grupo .area {
     padding: 1em;
    margin: 0.5rem;
    background-color: var(--cinza);
 
    border-radius: 15px;
}

.bodycomclass {
    background-color: var(--cinza);
}

.desc__sintomas {
    text-orientation: upright; /* mantém os caracteres na posição vertical normal */
}

.desc__sintomas {
    width: 350px;
    height: 170px;
    padding: 1em;
    margin: 0.5rem;
    background-color: var(--cinza);
    border-radius: 15px;
    resize: none; /* opcional, impede o usuário de redimensionar */
    line-height: 1.5;
    font-size: 1rem;
    padding-top: 1em;        /* Reduz o espaço no topo */
    padding-bottom: 1em;       /* Deixa mais espaço embaixo, se quiser */
    vertical-align: top;       /* Garante que o texto vá para cima */
}

