.cabecalho {
    background-color: var(--principal);
    background-image: url('../img/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10rem;
    padding: 1rem 6rem;
}


.cabecalho .logo {
    width: 3%;
}

.cabecalho .logo__nome {
    font-size: 2em;
    font-weight: 800;
    color: var(--branco);
    margin-left: 1rem;

}

.cabecalho .cabecalho__nav {
    margin-left: auto;
    display: flex;
}

.cabecalho .cabecalho__nav .cabecalho__link {
    text-decoration: none;
    color: var(--branco);
    padding: 0 0.8rem;
    font-weight: 500;
}

.cabecalho .cabecalho__menu {
    width: 6%;
}

.cabecalho .cabecalho__menu .menu__link {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    padding: 1rem 1rem;
   

}

.cabecalho .cabecalho__menu .icone__login {
    width: 50%;
    padding: 1rem;
}

.cabecalho .cabecalho__nav .cabecalho__link:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
    font-size: 1.1em;
}

.banner-inicial {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
}

.banner-img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    border-radius: 70px;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0.2) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0.2) 100%);
}