.reset__senha {
    display: grid;
    padding: 11% 15%;
    grid-template-columns: 50% 50%;
    background-color: var(--cinza);
}

.reset__senha .secao__esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12.6rem 1rem;
    background-color: var(--principal);
    background-image: url('../img/bem_vindo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 1%;
}

.reset__senha .secao__esquerda .esquerda__textos {
    margin: auto 0;
}

.reset__senha .secao__esquerda .titulo__esquerda {
    font-size: 3.4em;
    margin: 0.2em 0;
    font-weight: 900;
    color: var(--branco);
}

.reset__senha .secao__esquerda .subtitulo__esquerda{
    font-size: 1.1em;
    color: var(--branco);
    font-weight: 600;
}

/*LADO DIREITO GRID*/

.reset__senha .secao__form {
    background-color: var(--branco);
    padding: 5rem 3rem;
    text-align: center;
    align-items: center;
}

.reset__senha .secao__form .titulo__form {
    font-weight: 800;
    font-size: 2.5em;
    color: var(--principal);
}

.reset__senha .secao__form .paragrafo__form {
    color: var(--cinzaescuro);
    font-size: 0.6em;
    font-weight: 300;
    margin: 1rem 0;
}

.reset__senha .secao__form .formulario {
    display: flex;
    flex-direction: column;
}

.reset__senha .secao__form .formulario .formulario__item {
    padding: 1.5em;
    margin: 1.0rem;
    background-color: var(--cinza);
    border: none;
    border-radius: 15px;
    
}

.reset__senha .secao__form .formulario .formulario__others {
    display: flex;
    align-items: center;
    text-align: center;
}

.reset__senha .secao__form .formulario .formulario__others .formulario__check__text {
font-weight: 300;
font-size: 0.8em;
margin-right: auto;
}

.reset__senha .secao__form .formulario .formulario__others .formulario__check__text .formulario__registro {
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
    font-size: 0.8em; 
}

.reset__senha .secao__form .formulario .formulario__button {
    background-color: var(--principal);
    border: none;
    border-radius: 30px;
    padding: 1.0em;
    color: var(--branco);
    font-size: 1em;
    font-weight: 300;
    width: 200px;
   margin: 1% auto;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .reset__senha {
        padding: 27.5% 5% 27.5% 5%;
    }
}
 