.banner__inicial {
    background-image: url(/img/banner_inicio.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0.2) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0.2) 100%);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* empurra o conteúdo para baixo */
    padding-left: 5rem;
    padding-right: 2rem;
    padding-bottom: 5rem; /* ajuste a distância do rodapé */
    box-sizing: border-box;
}

.logo__inicial {
    display: none;
}

.banner__inicial .container__mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 1rem 0 0 0;
}

.banner__inicial .container__mensagem .banner__subtitulo {
    font-size: 2.5em; /* tamanho do subtítulo */
    font-weight: 700;
    color: var(--cinzaescuro);
    margin: 0 0 1rem 0;

}

.banner__inicial .container__mensagem .banner__texto {
    color: var(--branco);
    font-size: 1em;
    font-weight: 600;
    margin: 0.2rem 0;
    margin-bottom: auto;
}

.banner__inicial .container__mensagem .banner__slogan {
    font-weight: 800;
    font-size: 2em;
    color: var(--cinzaescuro);
    margin: 0;
    padding: 1em 0;
}


@media (max-width: 1024px) {
 .banner__inicial {   
    background-position: right;
}
 .logo__inicial {
        display: block;
        margin: 0 auto;
        margin-bottom: 50%;
    }
}

/* Para telas menores, ajusta padding e tamanhos */
@media (max-width: 768px) {
    .banner__inicial {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: auto; /* permite crescimento vertical */
    }
    .banner__inicial .banner__texto__container .banner__titulo {
        font-size: 2.5em;
    }
    .banner__inicial .container__mensagem .banner__subtitulo {
        font-size: 1.8em;
    }
    .banner__inicial .container__mensagem .banner__slogan {
        font-size: 1.2em;
    }

   
}


