.sobre__nos {
    margin-top: 5rem;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
}

.sobre__nos .container__textos__sobre {
    background-color: var(--cinza-azulado);
    padding: 1rem;
    border-radius: 14px;
}

.sobre__nos .titulo__sobre {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: var(--preto);
    margin: 2rem;
}

.sobre__nos .texto__sobre {
    font-weight: 20;
    font-size: 0.5em;
    color: var(--preto);
    margin-bottom: 1.5rem;
    line-height: 1.2;
    text-align: justify;
}

.sobre__nos .subtitulo__sobre {
    font-weight: 600;
    font-size: 1.2em;
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
    background-color: var(--cinza-azulado);
}

html {
    scroll-behavior: smooth;
}

.mao_medico { 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}
.container_imagem {
    display: flex;
    justify-content: center;
}	